# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

.ipynb_checkpoints/

# --------------------
# Secrets / Config
# --------------------
.env
*.json         # account key
results.json   # generated results data
errors.json    # generated error logs
*.log
*.sqlite
*.db

# --------------------
# OS / Editor junk
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/


jobs/          # raw query job files
data/          